Cancel observation operation.

The specification says **_§6.4.5. Information Reporting Interface_** :
_"Periodic and event-triggered reporting about Resource values from the LwM2M Client to the LwM2M Server is achieved through CoAP Observation [OBSERVE:RFC 7641]"_
and : 
_"The LwM2M Server can also cancel the "Observe" operation at any moment, on a specified Resource, Resource Instance or specified Object Instance(s), by sending a GET request with Observe option=1"_

But the [**RFC 7641**](https://tools.ietf.org/html/rfc7641#section-3.6) says: 
_"In some circumstances, it may be desirable to cancel an observation and release the resources allocated by the server to it more eagerly. In this case, a client MAY explicitly deregister by issuing a GET  request that has the Token field set to the token of the observation to be cancelled and includes an Observe Option with the value set to 1 (deregister).  All other options MUST be identical to those in the registration request except for the set of ETag Options."_

Reading the LWM2M specification, should lead to bad CoAP cancel observation implementation.

(Remarks are available for LWM2M v1.1 and v1.0.x)

Would be OK to use the following language instead: 
" 
The LwM2M Server can also cancel the "Observe" operation at any moment, on a specified Resource, Resource Instance or specified Object Instance(s), by following the procedure described in Section 3.6 of RFC 7641.
" 

:+1: 

I cannot find the referenced text in the specification. Which version of LwM2M was this comment referring to? (Core or Transport?)

8.2.6 Information Reporting Interface in [LWM2M v1.0.2](http://openmobilealliance.org/release/LightweightM2M/V1_0_2-20180209-A/OMA-TS-LightweightM2M-V1_0_2-20180209-A.pdf).

6.4.5. Information Reporting Interface in [LWM2M v1.1.1 (transport bindings)](http://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Transport-V1_1_1-20190617-A.html#6-4-5-0-645-Information-Reporting-Interface).


This issue has been fixed in v1.2 but not backported to earlier versions. 