Use "server public key" for trusted CA certificate (in case of not directly trust)

OMA-TS-LightweightM2M-V1_0-20170111-D

Mentions in

> 7.1.3	X.509 Certificates
> The X.509 Certificate mode requires the use of X.509v3 Certificates [RFC5280].
> Certificates used in LwM2M SHOULD be signed by a root certificate, either by a public root CA or a private root. 
> The LwM2M Client MUST either directly trust the LwM2M Server X509 certificate or trust it indirectly by verifying it is correctly signed by a trusted CA.
> 

that trusted CA could be used.

According

> E.1
> Server Public Key
> Stores the LwM2M Server’s or LwM2M Bootstrap-Server’s Certificate (Certificate mode), public key (RPK mode). The format is defined in Section E.1.1
> 
> E.1.1.3	Certificate Mode
> The Certificate mode requires an X.509v3 Certificate along with a matching private key. The private key is stored in the Secret Key Resource, encoded using [RFC5958], as the private key in the RPK mode. The Certificate is encoded using the PKCS#12 format [RFC7292] in the Public Key or Identity Resource.
> 

it stores the "server's certificate", which seems only be usefull in the "directly trust" case.
Should the "server public key" field be also used for a CA certificate, if trust-chain should be used instead of direct trust?

If so, the TS should clarify the usage of that field in case of trust-chain. 
  

I change the title to make it cleare, what I want to be changed.

If the "server public key" contains the `server's certificate`, only `direct trust` is possible.
If a trusted CA should be used to trust the "server public certficate" (which is also send during the handshake), then the `CAs trusted certificate` is required.


The security section has been re-written in an attempt to take a number of review comments into account. Here is the most recent version: 
http://member.openmobilealliance.org/ftp/Public_documents/DM/LightweightM2M/2017/OMA-DM-LightweightM2M-2017-0016R01-CR_multiple_security_fixes.zip

I presented the possible options here and the group did not want to introduce new changes regarding the trust model. It turns out that there are actually 4 different options and the group for the moment only wants a single approach. 

Your feedback is appreciated. 

> This allows for the use of self-signed certificates. Other modes are not supported.

With that, the specification of the "server public key" resource in the LWM2M TS is OK, 
but it would limit the use of x509 to the sematics of RPK.

=> no need for / benefit in x509 support.

Is that really intended?

I would got for using that  "server public key" resource as " "server trust" resource, either containing the self signed server certificate, or a collection of trusted CA certificates. This would allow to benefit from x509.


I know. My intention was to clarify the behavior and to be explicit about what this resource actually contains. That was felt to be an extension and there was no support going along that route.  

Then, I proposed to describe what the spec provides and what it does not provide, see http://member.openmobilealliance.org/ftp/Public_documents/DM/LightweightM2M/2017/OMA-DM-LightweightM2M-2017-0016-CR_multiple_security_fixes.zip 

You can see that there are 4 possible usages based on what one puts into the resource, namely

1)	CA specification: The Server Public Key Resource specifies the Certificate Authority (CA) who will provide certificates for the domain. Essentially, you are able to say that the domain will ONLY use certificates provided by the DTLS server from a specific CA. If the DTLS client sees a certificate from another CA it must reject that certificate as bogus.
2)	Specific certificate: The Server Public Key Resource specifies the exact certificate that should be used for the DTLS server's domain. Note that this certificate must be one that is issued by a valid CA and this CA certificate would be configured to the DTLS client in the trust anchor store in an out-of-band fashion. 
3)	Trust anchor assertion: The Server Public Key Resource specifies the trust anchor to be used for validating the certificates for the DTLS server's domain. For example, this usage could supply the certificate for the CA used by the company operating the DTLS server. 
4)	Domain-issued certificate: The Server Public Key Resource specifies the exact certificate that should be used for the DTLS server, but, in contrast to usage #1, the certificate does not need to be signed by a valid CA. This allows for the use of self-signed certificates.

The group didn't want to indicate what the spec does not support.

Thanks, now I start to understand the current position of the OMA.

So for LWM2M TS 1.0, the client manufacturer is intended to supply his credential resources as "opaque bytes" to the bootstrap server operator in what ever format and what ever data is required for that special client to wokr proper :-).
 

And the credentials to be used by the servers for the devices must be provided seperately.   

No, that's not a correct interpretation of what I am saying. Here is the issue. 

The spec previously spoke about the direct and indirect trust and talk about the way how the certificate validation is done.

But there are for different types of how you can use the certificates, as you can see from my previous comments. The spec ignored that issue and only indicated that it is the certificate of the server. There is also no place to put CA certificates anywhere.

IMHO what needs to be done is to add an additional resource saying which one of these four modes is actually used and then the content of the Server Public Key Resource needs to be populated accordingly. In the future one also needs to add a multi-instance resource that stores trust anchors. 

What is now in there is what the group wanted me to do, namely to describe the functionality we had in place previously but with a clearer description. But, as you noted, it does not cover all the functionality that you and I would have liked to see.

> No, that's not a correct interpretation of what I am saying.

Sorry, your right. I was in a ironic mode :-).

(Therefore is started with "now I start to understand the current position of the **OMA**." and not with
"now I start to understand **your** position". And just to anticipate the OMA, it's sure not the OMA, it's the "members of the OMA Device Management Group").

