Base Name format in JSON

* OMA-TS-LightweightM2M-V1_0_2-20180209-A
* section: 6.4.4 JSON
* communication:
Server ---- GET /3/0 -----> Client
Client response:  
`
{"bn":"/3/0","e":[{"n":"0","sv":"xxxxx"},{"n":"1","sv":"xxxxx"},{"n":"2","sv":"xxxxxxx"},{"n":"3","sv":"1.0.0"},{"n":"9","v":8},{"n":"10","v":46807},{"n":"11/0","v":0},{"n":"13","v":1531103228},{"n":"14","sv":"+09"},{"n":"15","sv":"Asia/Seoul"},{"n":"16","sv":"U"},{"n":"17","sv":"xxxxxx"},{"n":"18","sv":"1.0.1"},{"n":"19","sv":"1.0.2"},{"n":"20","v":5},{"n":"21","v":58880}]}
`

The `bn` in response is `/3/0`.  - No `/` at the end. 

The specification of base name is 
`The base name string which is prepended to the Name value of
the entry for forming a globally unique identifier for the resource.`

The SENML specification on which LwM2M JSON encoding is based says something similar: 
`This is a string that is prepended to the names found in the
      entries.  This attribute is optional.`
 
Interpretation 1 of "prepended" word is that simple string concatenation of `bn` and `n` should give correct LwM2M path. For example: 
* bn: "/3/0/", n: "1" -> /3/0/1
* bn: "/3/0", n: "/1" -> /3/0/1
* bn: "/3/1", n: "2/1" -> "/3/12/1". 

Interpretation 2 is that concatenation operation should be aware of that it merges paths and add the missing `/`.
* bn: "/3/0/", n: "1" -> /3/0/1
* bn: "/3/0", n: "/1" -> /3/0/1
* bn: "/3/1", n: "2/1" -> "/3/1/2/1"

I think spec should say clearly which interpretation is correct. 



DMSE should consider to prepare some more examples.

There was a suggestion to create a pull of examples in the open.

The final SenML specification, [RFC 8428, section 5.1](https://tools.ietf.org/html/rfc8428#section-5.1) contains some examples using URNs that do not contain any slashes. That makes it pretty clear to me that the word "prepended" shall be interpreted as a plain string concatenation (interpretation 1).

Correct, this example should have a slash at the end of bn. The 1.1 spec has them fixed:  http://www.openmobilealliance.org/release/LightweightM2M/V1_1-20180612-C/OMA-TS-LightweightM2M_Core-V1_1-20180612-C.html#7-4-3-0-743-JSON