Bootstrap Delete All operation

Document: OMA-TS-LightweightM2M-V1_0_2-20180209-A
Part: 5.2.7 Bootstrap Commands

How should we set the path to '/' in the Bootstrap Delete All operation ? I mean in the CoAP message do we need to:
- Set the Uri-path option to NULL
- Do not set the Uri-path option

Because currently some implementations such as Leshan and Wakaama do not set the Uri-Path option in the CoAP message to set the path to '/'.


From [RFC7252](https://tools.ietf.org/html/rfc7252):

> 6.4 Decomposing URIs into Options
>
>   The steps to parse a request's options from a string |url| are as
   follows.  These steps either result in zero or more of the Uri-Host,
   Uri-Port, Uri-Path, and Uri-Query Options being included in the
   request or they fail.
>
>   1.  If the |url| string is not an absolute URI ([RFC3986]), then fail
       this algorithm.
>
>   2.  Resolve the |url| string using the process of reference
       resolution defined by [RFC3986].  At this stage, the URL is in
       ASCII encoding [RFC0020], even though the decoded components will
       be interpreted in UTF-8 [RFC3629] after steps 5, 8, and 9.
>
>       NOTE: It doesn't matter what it is resolved relative to, since we
       already know it is an absolute URL at this point.
>
>   3.  If |url| does not have a <scheme> component whose value, when
       converted to ASCII lowercase, is "coap" or "coaps", then fail
       this algorithm.
>
 >  4.  If |url| has a <fragment> component, then fail this algorithm.
>
>   5.  If the <host> component of |url| does not represent the request's
       destination IP address as an IP-literal or IPv4address, include a
       Uri-Host Option and let that option's value be the value of the
       <host> component of |url|, converted to ASCII lowercase, and then
       convert all percent-encodings ("%" followed by two hexadecimal
       digits) to the corresponding characters.
>
>       NOTE: In the usual case where the request's destination IP
       address is derived from the host part, this ensures that a Uri-
       Host Option is only used for a <host> component of the form reg-
       name.
>
>   6.  If |url| has a <port> component, then let |port| be that
       component's value interpreted as a decimal integer; otherwise,
       let |port| be the default port for the scheme.
>
>   7.  If |port| does not equal the request's destination UDP port,
       include a Uri-Port Option and let that option's value be |port|.
>
>   8.  **If the value of the <path> component of |url|** is empty or
       **consists of a single slash character (U+002F SOLIDUS "/"), then
       move to the next step.**
>
>       Otherwise, for each segment in the <path> component, include a
       Uri-Path Option and let that option's value be the segment (not
       including the delimiting slash characters) after converting each
       percent-encoding ("%" followed by two hexadecimal digits) to the
       corresponding byte.
>
>   9.  If |url| has a <query> component, then, for each argument in the
       <query> component, include a Uri-Query Option and let that
       option's value be the argument (not including the question mark
       and the delimiting ampersand characters) after converting each
       percent-encoding to the corresponding byte.

Thus in the case of the URI being `/`, following this algorithm will produce no uri-path option (emphasis in step 8)


Just below, in section 6.5.  Composing URIs from Options

>    6.   Let |resource name| be the empty string.  For each Uri-Path
        Option in the request, append a single character U+002F SOLIDUS
        (/) followed by the option's value to |resource name|, after
        converting any character that is not either in the "unreserved"
        set, in the "sub-delims" set, a U+003A COLON (:) character, or a
        U+0040 COMMERCIAL AT (@) character to its percent-encoded form.

>   7.   If |resource name| is the empty string, set it to a single
        character U+002F SOLIDUS (/).

My understanding of this is that no uri-path option is equivalent to empty uri-path.
For bootstrap delete on root both possibilities should be correct. 
 



We could add this info in the bugfix release of v1.1 or into v1.2.

This issue was discussed in the group and there is nothing LwM2M specific in this request. The question about how to a URI is decomposed into CoAP options is defined in the CoAP RFC, as David noted. Hence, the IETF CORE mailing list should be consulted. In any case, the answer by David seems to be the first starting point for answering the question. The Leshan implementation therefore appears to exhibit the correct behavior. 