Ask about confirmation for base64 encoding.

(This is a verbose question, this was to be complete about this topic but the answer should be easy :slightly_smiling_face:)

It exists several way to encode base64 : 
- alphabet could differ, it exist the "Classic Alphabet" ([base64](https://www.rfc-editor.org/rfc/rfc4648#section-4)) but also an "URL and Filename Safe Alphabet" ([base64url](https://www.rfc-editor.org/rfc/rfc4648#section-5)).
- [padding could be required, forbidden or optional](https://www.rfc-editor.org/rfc/rfc4648#section-3.2).

About padding, note that **RFC4648** says : 
>   Implementations MUST include appropriate pad characters at the end of encoded data unless the specification referring to this document explicitly states otherwise.


In LWM2M, base64 encoding is used for several Content Format : 
 - **Text** (since LWM2M v1.0)
 - **Old JSON** (for LWM2M v1.0 only)
 - **SenML JSON** (since LWM2M v1.1)
 
## Text Content Format (ask for confirmation)
 About **Text** the [LWM2M-v1.1.1@core§Table-C2-Data-Type-Mapping](http://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1_1-20190617-A.html#Table-C-2-Data-Type-Mapping) says : 
> Represented as a Base64 encoding of the binary data [RFC4648].
> 
> For example, the sequence of bytes (in hex notation) {0x01, 0x02, 0x03, 0x04, 0x05} converts to the ASCII string “AQIDBAU=” in Base64 encoding.

(same text in LWM2M v1.0 and v1.2)

So I guess this means base64 alphabet MUST be used and  padding is REQUIRED.
Could you confirm ? especially about padding ?

## Old JSON Content Format (ask for confirmation)
About **Old JSON** the [LWM2M-v1.0.2§Table 22: JSON format and description](http://www.openmobilealliance.org/release/LightweightM2M/V1_0_2-20180209-A/OMA-TS-LightweightM2M-V1_0_2-20180209-A.pdf) says : 
> Value as a JSON string for all other Resource data types. If the Resource data type is opaque the string value holds the Base64
encoded representation of the Resource

(there is nothing about this format in LWM2M v1.1 and v1.2)

So I guess this means base64 alphabet MUST be used and  padding is REQUIRED.
Could you confirm ? especially about padding ?

## SenML JSON Content Format  (Clarified since LWM2M v1.2)

About **SenML JSON** the [LWM2M-v1.1.1@core§Table-C2-Data-Type-Mapping](http://www.openmobilealliance.org/release/LightweightM2M/V1_1_1-20190617-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_1_1-20190617-A.html#Table-C-2-Data-Type-Mapping) says : 

> Represented as a Base64 encoded representation of the data in a JSON string.

If you read it fast you could conclude like the other that : base64 alphabet MUST be used and  padding is REQUIRED.
But reading [RFC8428](https://www.rfc-editor.org/rfc/rfc8428#section-4.3) this is the opposite  : 
> Data Value is a base64-encoded string with the **URL-safe alphabet**  as defined in [Section 5 of [RFC4648]](https://www.rfc-editor.org/rfc/rfc4648#section-5), **with padding omitted**.

Note that was fixed in [LWM2M-v1.2@core§Table-C2-Data-Type-Mapping](http://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html) with : 

> Represented as a URL-safe Base64 encoded representation of the data with padding omitted in a JSON string, as defined in Section 4.3 of [SENML].

Following this issue https://github.com/eclipse/leshan/issues/1444, may I know if table  [LWM2M-v1.2@core§Table-746-1-SenML-JSON-format-and-description](http://www.openmobilealliance.org/release/LightweightM2M/V1_2-20201110-A/HTML-Version/OMA-TS-LightweightM2M_Core-V1_2-20201110-A.html#Table-746-1-SenML-JSON-format-and-description) also needs to be fixed?

Because the description for the `vd` (opaque) value says that:
> For Resource data type "opaque" this holds the Base64 encoded representation of the Resource.


I just precise why I consider that using **base64** wording means probably using Classic base64 alphabet with Padding.

**Alphabet :**
The [RFC says about **Base 64 alphabet**](https://www.rfc-editor.org/rfc/rfc4648#section-4) : 
> This encoding may be referred to as "base64".

The [RFC says about **Base 64 encoding with an URL and filename safe alphabet**](https://www.rfc-editor.org/rfc/rfc4648#section-5) : 
> This encoding may be referred to as "base64url".  This encoding
   should not be regarded as the same as the "base64" encoding and
   should not be referred to as only "base64".

**Padding :**
The [RFC says](https://www.rfc-editor.org/rfc/rfc4648#section-3.2) : 
> Implementations MUST include appropriate pad characters at the end of encoded data unless the specification referring to this document explicitly states otherwise.


Resolved in 1.2x release

@mkgillmore can you confirm about : 
 - Text Content Format 
 - Old JSON Content Format
 
 (from : https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/553#issue-1486959572)