Content-Format and notifications

During some interoperability testing, we came across an issue that does not seem to be addressed by the specification as of OMA-TS-LightweightM2M-V1_0-20161110-D.

What is the expected behaviour after the following message exchange:

1. LWM2M Server sends CoAP `GET /6/0/0; Accept: text/plain; Observe: 0` (Observe)
2. Client responds with `2.05 Content; Content-Format: text/plain; Observe: <opaque data>`
3. Notifications with the value of /6/0/0 are being sent
4. Server sends CoAP `GET /6/0/0; Observe: 1` (Cancel Observation; note the absence of the `Accept` option)
5. Client responds with `2.05 Content; Content-Format: text/plain`

Should the observation established in step 1 be cancelled by step 4 (because `text/plain` is the content format chosen by the client by default for the given resource), or should it be not?

[RFC 7641, section 3.6](https://tools.ietf.org/html/rfc7641#section-3.6) seems to suggest the latter:
> In some circumstances, it may be desirable to cancel an observation and release the resources allocated by the server to it more eagerly. In this case, a client MAY explicitly deregister by issuing a GET request that has the Token field set to the token of the observation to be cancelled and includes an Observe Option with the value set to 1 (deregister). **All other options MUST be identical to those in the registration request except for the set of ETag Options.**

and, obviously, `Accept: text/plain` is not identical to no options. This also suggests that the observation relationship may be established multiple times for the same Resource (or Instance, or Object), independently for different Content-Formats values of the Accept option (e.g. plain text and TLV and JSON) - this is confirmed in [section 3.1](https://tools.ietf.org/html/rfc7641#section-3.1):
> The target resource is identified by all options in the request that are part of the Cache-Key. This includes, for example, the full request URI and the Accept Option.

However, some details of the LWM2M Information Reporting Interface already differ from the CoAP Observe mechanism as described in RFC 7641<sup>[[1]](#kfyatek-notes)</sup>, and the LWM2M specification does not mention Content-Format or Accept options anywhere in relation to the Information Reporting Interface. Moreover, LWM2M section 5.5 is worded in a way that would suggest that the observation relation is established for a given Resource (or Instance, or Object) path, rather than for its format.

I believe that the relationship between the Information Reporting Interface and the Content-Format and Accept options is worth explicitly describing in the specification.

### <a id="kfyatek-notes">Notes</a>
1. I'm referring to things such as:
   - provision for notification storing
   - in the RFC, the observation relationship is meant to be stored for a given pair of CoAP endpoints (i.e. IP-port pairs for the simplest case of unencrypted UDP), but LWM2M calls for persisting them across registration updates, offline periods, etc., with possible IP address changes on the way

   These of course make sense, but make a precedent telling that CoAP spec is not to be always blindly followed in the context of LWM2M.

DM WG to review this Issue based on Pittsburgh feedback.

Feedback provided by DM Working Chair.

The issue looks confusing between LwM2M layer commands and CoAP layer translations

Essentially in the example provided , a strict implementation of CoAP, should not have sent 2.05 but rather 4.04 Not found

DM WG to review and concur with this comment ..

On what basis do you think that 4.04 Not Found is the appropriate response?

`GET /6/0/0` without the `Accept` option is a perfectly fine request; I hope we agree that if not for the `Observe` option, we would get the value of the resource in the default format (likely `text/plain`).

Now, to quote [RFC 7641](https://tools.ietf.org/html/rfc7641); [section 2](https://tools.ietf.org/html/rfc7641#section-2) says:

> When included in a GET request, the Observe Option extends the GET method [...] Possible values are:
> * 0 (register) adds the entry to the list, if not present;
> * 1 (deregister) removes the entry from the list, if present.

Note the "if present" wording, which suggests that if a given observation is not registered, the option essentially has no effect. This is also confirmed in [section 3.6](https://tools.ietf.org/html/rfc7641#section-3.6):

> When the server receives such a request, it will remove any matching entry from the list of observers and process the GET request as usual.

So, if the /6/0/0 Resource exists, to me it is clear that the 4.04 response is not appropriate. The right response is certainly 2.05 with the current value of the Resource; the only question is whether it should cancel a related observation. However, the fact that you are referring to a "strict implementation of CoAP" seems to suggest that in the example provided in the original post, it should not.

**Further discussion within DM WG:**

Cancel request does not match the Observe request at CoAP level due to incorrect implementation at CoAP level.
If the GET with Observe option set to 1 to cancel notify does not have the same parameters the client should simply return 2.05 with the value, but does not cancel observation as per CoAP specification.
The server assumes the  Observe is canceled and deletes observation and the next notification it receives will not match any notify and will result in reset to be sent at the CoAP level to cancel the Observe.

