Exact semantics of Binding change

The "LWM2M Server" object, as defined in section E.2 of the specification, contains Resource 7, "Binding", that controls the binding used when communicating with the LWM2M server. To quote its description:

> If the LWM2M Client supports the binding specified in this Resource, the LWM2M Client MUST use that for Current Binding and Mode.

However, the Binding and Mode are also communicated to the LWM2M Server via the Registration Interface, in Register and Update operations. Some sections of the document specifically say that the value communicated via this interface is authoritative, for example:

> [8.3 Queue Mode Operation]
> [...] When the LWM2M Client has registered with Current Transport Binding and Mode parameter including “Q” (see chapter 5.4), the LWM2M Server does not immediately send downlink requests on the transport used in Queue Mode, but instead waits until the LWM2M Client is online. [...]

How exactly should the Client behave when the value of the Binding resource in a given LWM2M Server Object Instance changes (e.g. due to a Write operation)? I can think of at least three possible interpretations:
1. The change to Current Transport Binding is effective immediately, without any explicit notification to the server.
2. The device continues operating without change, until the next Register or Update operation (which may e.g. be scheduled according to the registration lifetime, or triggered by an Execute operation on the "Registration Update Trigger"), in which the new Binding is reported and becomes effective.
3. Change to the Binding resource triggers an Update operation, which is immediately sent to the server, reporting the new Binding which then becomes effective.

Which of these interpretations is correct? I believe the correct behaviour should be explicitly defined in the specification.

Moreover, if interpretation 2 or 3 is correct, when the Binding changes so that the previously used transport channel becomes invalid (e.g. changes from "U" to "S" or the other way round), which channel should be used for the Update operation? The one used for the "old" or the "new" Binding? This case somewhat overlaps with issue #146.

Another concern is related to the Information Reporting Interface - in an example case when the Binding changes from "U" to "S", what happens with the ongoing observations? Should they be "moved" and start to be reported via SMS instead of UDP? Should they be suspended and reported when the Binding changes again so that UDP becomes available again? Or should they be discarded?


Interpretation 3 listed above is the correct one. That is client should send any required confirmation to the server in the current binding for the write operation and immediately follow it with a registration update message to indicate new binding; this was discussed and agreed with @kFYatek during Warsaw TestFest.
As far as ongoing observation are concerned, even if the DTLS session is somehow maintained through a change from UDP to SMS binding, cannot see how the CoAP request/response matching rules can continue to be satisfied as per section 5.3 of RFC 7252. So assuming a standard implementation of CoAP on the server side,  client notify messages after binding change are most likely to be dropped by the LwM2M server CoAP layer. Whether client stops sending notifies on change of binding or continues with them is implementation dependent.
