Is it possible to establish several Observe-Composite relaiton from server

If I understand the specification (LWM2M 1.1) correctly, an `Observe-Composite` operation is done by register an CoAP observe([RFC 7641](https://datatracker.ietf.org/doc/html/rfc7641)) on the root `/` resource .

The [RFC7641§3.1](https://datatracker.ietf.org/doc/html/rfc7641#section-3.1) it says that : 
> A client registers its interest in a resource by issuing a GET
   request with an Observe Option set to 0 (register).  If the server
   returns a 2.xx response that includes an Observe Option as well, the
   server has successfully added an entry with the client endpoint and
   request token to the list of observers of the target resource, and
   the client will be notified of changes to the resource state.
>
>   Like a fresh response can be used to satisfy a request without
   contacting the server, the stream of updates resulting from one
   observation request can be used to satisfy another (observation or
   normal GET) request if the target resource is the same.  **A client
   MUST aggregate such requests and MUST NOT register more than once for
   the same target resource.**  The target resource is identified by all
   options in the request that are part of the Cache-Key. This includes,
   for example, the full request URI and the Accept Option.
   
   _(Note: here we talk about CoAP client, so LWM2M server)_
   
It seems to imply that a LWM2M server can only established 1 `Observe-Composite` on a given client. 

Do I get it correctly ? 

This comment  https://github.com/OpenMobileAlliance/OMA_LwM2M_for_Developers/issues/481#issuecomment-542163732 seems to say the opposite. :disappointed: 

>  So in scenarios when there are multiple Observe-Composites active between the same client and server, the question is how can LwM2M layer at the server unambiguously cancel one of them.

Personal opinion:

The way the FETCH method is used in LwM2M, the target resource is indicated in the payload. So one could argue that a
FETCH uri-path: "/"  Observe: 0 payload: `{ "n": "/3/0"}`
is not the same as a
FETCH uri-path: "/"  Observe: 0 payload: `{ "n": "/3303"}`

Anyway, the intent of the LwM2M TS is to allow several Observe-Composite at once.

> the target resource is indicated in the payload.

This sounds to not be compliant with my understanding of RFC 7641.

It says : 
>  The target resource is identified by all
options in the request that are part of the Cache-Key. This includes,
for example, the full request URI and the Accept Option.

But maybe there is a lack of specification about FETCH + CoAP observe. 

I tried to ask some information from IETF :  https://mailarchive.ietf.org/arch/msg/core/ZPgke9Hc5jdIdgWrR8KxKTxnB-4/
(with some fantastic mail formatting issues :disappointed:)

We get a quick answer from IETF and it seems that I missed : 

>  Depending on the response code as defined by [RFC7252], the response
   to a FETCH request is cacheable; the request body is part of the
   cache key.  Specifically, 2.05 (Content) response codes (the
   responses for which are cacheable) are a typical way to respond to a
   FETCH request.  (Note that this aspect differs markedly from
   [HTTP-SEARCH] and also that caches that cannot use the request
   payload as part of the cache key will not be able to cache responses
   to FETCH requests at all.)  The Max-Age option in the response has
   equivalent semantics to its use in a GET.
   
 So request payload is part of the cache-key and so there is nothing which prevent several Observe-Composite at once at CoAP level. 
 
 So I guess,  we can close this issue. 

Group agrees that this issue is resolved and can be closed 10/31/2023